body {
    margin: 0;
    font-size: 1rem;
}

.title-albums {
    max-width: 1000px;
    margin: 50px auto 0;
    color: #f29bc4;
    font-size: 90px;
}

.albums {
    margin: 50px auto 0;
    max-width: 1000px;
}

.album {
    margin-bottom: 30px;
}

.album a {
    text-decoration: none;
    border-bottom: 2px solid #f6a7c1;
    border-right: 2px solid #f6a7c1;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
}

.album a:hover {
    color: #f29bc4;
}

.album:hover {
    transform: translateX(35px) scale(1.05);
    transition: ease .5s;
}